.cardBackground{
    justify-content: center;
    align-items: center;
    width: 330px;
    gap: 20px;
    color: #000000;
    border: 2px solid;
    border-radius: 10px;
    transition: all 600ms ease-in-out;   
    filter: blur(1px);
    background-color: #ff397b8e;
    filter: grayscale(1);
}
.cardBackground:hover{
    filter: grayscale(0);
    transform:  scale(1.07) ;
    filter: blur(0px);
    transition: all 600ms ease-in-out;
}

.cardImage{
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 300px; 
}

.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardName{
    justify-content: center;
    align-items: center;
}

.cardki{
    justify-content: center;
    align-items: center;
}   

.cardRace{
    justify-content: center;
    align-items: center;
}
