.wrapInfo{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: aliceblue;
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
}