.wrapCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    color: #000000;
    width: 100%;
}

.logo{
    width: 300px;
}


@media (width >= 768) {
    .wrapCard{
        flex-direction: row;
    }
}