.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #000000;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #ffffff;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}