.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #ffffff;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    color: #ffffff;
    width: 100%;
}

.infoBtn{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    transition: all 600ms ease-in-out;  
    color: #ffffff;   
    text-shadow: 0px 3px 20px #ffffff;
    background-color: #5f6068;
}

.infoBtn:hover{
    border-radius: 999px;
    transition: all 600ms ease-in-out;
    width: 100%;
    background-color:#778899;
    box-shadow: #797a86b6  -5px 5px, #797a86af -10px 10px;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}