.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: #ffffff;
    padding: 5px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    color: #ffffff;
    width: 100%;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }
}