*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center ;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/foto2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    font-size: 17px;
}

@media (width >= 768){
    body{
    background-image: url('./kame.jpg'); 
  }
      input{
        width: 250px;
        font-size: 18px;
    }
}