/* mobile first, celular primeiro */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/foto4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    font-size: 17px;
}

/*agora serve para o desktop*/
@media (width >= 768px){
    body{
        background-image: url('/foto1.jpg');
    }
    input{
        width: 250px;
        font-size: 18px;
    }
}

